@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
	min-height: 100%;
	height: 100%;
}

body {
	background: #26C281;
	color: rgba(0,0,0,0.45);
	font-size: 100%;
	height: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

div.container {
	height: 100%;
}

section {
	padding: 12% 2em 0;
	background: #2dcb89;
	text-align: center;
	height: 100%;
}

@media screen and (max-width: 44.75em) {
	section { padding: 12% 2em 0 }
}

@media screen and (max-width: 25em) {
	.codrops-icon span { display: none; }
}